/** General **/

body {
    background-color: #fff;
    color: #2e2e2e;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
h1,
h2,
h3,
h4,
h5 {}
a,
a:visited,
a:focus,
a:active {
    color: #00b1aa;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
a:hover {
    color: #898989;
    text-decoration: none;
}
#wrapper {
    margin-top: 10px;
}
section {
    padding: 20px;
}

/** Header **/

#profile-pic {
    max-width: 200px;
    height: auto;
}
#profile-card {
    margin: auto 0px;
}
@media only screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
    #header {
        text-align: center;
    }
    #profile-pic {
        max-width: 150px;
        height: auto;
        margin: 0 auto 20px auto;
    }
}

/** Contact **/
